/* CSS VARIABLES */
:root {
  --primary: #141414;
  --light: #F3F3F3;
  --dark:   #686868;
}
$itemGrow: 1.2;
$duration: 250ms;

html {
  scroll-behavior: smooth;
}

body {
  margin: 3%;
  background-color: #000;
  font-family: Arial;
}


img {
  max-width: 100%;
}

@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.carousel-container {
  display: grid;
  width: 1280px;
  margin: auto;
  min-height: 200px;
  position: relative;
}

.carousel-container .carousel-inner {
  overflow: hidden;
}
.carousel-container .track {
  display: inline-flex;
  transition: transform 0.5s;
}

.carousel-container .item {
  width: 200px;
  height: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column;
}


.arrow__btn {
  display: inline-block;
  position: absolute;
  color: #fff;
  text-decoration: none;
  text-align: center;
  font-size: 6em;
  background: rgb(0, 0, 0);
  width: 80px;
  padding: 50px;
  margin: auto;
  z-index: 1;
  cursor: pointer;
}

.left-arrow {
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(
    -90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.left-arrow.show {
  display: block;
}

.right-arrow {
  top: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 1) 100%
  );
}

.right-arrow.hide {
  display: none;
}



/* HEADER */
header {
  padding: 20px 20px 0 20px;
  position: fixed;
  top: 0;
  display: grid;
  grid-gap:5px;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-areas:
   "nt mn mn sb . . . ";
  background-color: var(--primary);
  width: 100%;
  margin-bottom: 0px;
  z-index: 5;
}

.Logo {
  grid-area: nt;
  object-fit: cover;
  width: 200px;
  max-height: 100%;

  padding-left: 30px;
  padding-top: 0px;
}


#logo {
  color: #E50914;
  margin: 0;
  padding: 0;
}


.main-nav {
  grid-area: mn;
  padding: 0 30px 0 20px;
}

.main-nav a {
  color: var(--light);
  text-decoration: none;
  margin: 5px;
}

.main-nav a:hover {
  color: var(--dark);
}




h1 {
  color: red;
  text-align: left;
}

.carousel {
  display: grid;
  grid-template-columns: repeat(10000, 100%);
  overflow: hidden;
  scroll-behavior: smooth;

  section {
    width: 100%;
    height: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, auto);
    margin: 20px 0;
    padding: auto;

    .item {
      position: relative;
      padding: 0 2px;
      transition: $duration all;

      &:hover {
        margin: 0 40px;
        transform: scale(1.2);
      }
    }

    .arrow__btn {
      display: grid;
      position: absolute;
      color: #fff;
      text-decoration: none;
      font-size: 6em;
      background: rgb(0, 0, 0);
      width: 80px;
      padding: 50px;
      text-align: center;
      z-index: 1;
    }

    .left-arrow {
      top: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(
        -90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }

    .right-arrow {
      top: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      );
    }
  }
}


/* Modal */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 2; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}


.hero {
    background-image: url( "https://m.media-amazon.com/images/M/MV5BNDEyYTA5OWEtYjNiYS00MGZlLThjYzEtMTc1Zjk2NDRmZmYxXkEyXkFqcGdeQXVyNzIwNTQyMw@@._V1_UY268_CR1,0,182,268_AL_.jpg");
    width: 80%;
    background-size: cover;
    min-height: 400px;
}

.hero .content {
    position: relative;
    z-index: 0;
    width: 500px;
    left: 10vw;
    top: 10vw;
}


.hero .content h1 {
      width: 100%;

    }

.hero .content button {
  background: red;
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 44px;
  font-size: 14px;
  font-weight: 600;
}



.hero button-wrapper {
      display: flex;
      width: 400px;
      margin-top: 30px;
    }



/* FOOTER */
footer {
  padding: 20px;
  text-align: center;
  color: var(--dark);
  margin: 10px;
}
